<~~ [~!Color,green!~~%hashes%~~!Color,brightBlack!~~%whiteSpace%~~!Color,default!~] ~%whenTimeStamp%~ ~!Color,~%typeColor%~!~~%type%~~!Color,default!~~!Color,brightBlack!~,~!Color,~%nameColor%~!~~%name%~~!Color,default!~ ~!Color,brightBlack!~~%value%~~!Color,default!~

~>
