<~~ [~!Color,green!~~%hashes%~~!Color,brightBlack!~~%whiteSpace%~~!Color,default!~] ~%whenTimeStamp%~ ~!Color,green!~~%type%~~!Color,brightBlack!~,~!Color,cyan!~~%name%~ ~!Color,brightBlack!~~%value%~~!Color,default!~

~>
